
.name { 
  margin-left: 5em;
  margin-top: 1em;
  font-family: 'Roboto', sans-serif;
  color: #454545;  
}


.home-introduction{
  background-image: url("trees.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px;
}

.info {
  color: white;
  font-family: 'Droid Sans', sans-serif;
  font-size: 25px;
  text-align: center;
}


ul {
  color: #454545;
  text-align: left;
  float: right; 
  margin: 0;
  padding: 0;
}

ul li {
  color: #454545;
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
 
}

.aboutme{
  padding: 3em;
}
.skillset {
  font-family: 'Droid Sans', sans-serif;
  position: relative;
  background: #f3f3f3;
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer {
  color: #454545;
  font-family: 'Droid Sans', sans-serif;
  color: black;
  text-align: center;
}

.icons{
  color: #17CF91;
}
